<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        input {
            border: none;
            border: 1px solid black;
            border-radius: 4px;
        }
        input, button {
            padding: 12px;
            width: 350px;
        }
        label {
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Signup</h1>
    <form method="POST" action="/user">
        <label for="name">
            <input type="text" name="name" placeholder="Full Name">
        </label>
        <label for="email">
            <input type="email" name="email" placeholder="Email">
        </label>
        <label for="password">
            <input type="text" name="password" placeholder="Password">
        </label>
        <button type="submit">Create Account</button>
    </form>
</body>
</html>